.mainContainer {
    background-color: #F5F6F8;
    width: 82%;
    margin-left: 18%;
}

a {
    text-decoration: none;
    color: black;
}

.breadcrumb a, .breadcrumb li{
    color:gray;
}

.input-group {
    width: 60%;
}

.group2 {
    width: 35%;
}

.tableContent{
    background-color: #F5F6F8;
}

.table{
    width: 80%;
    margin-left: 20%;
    border-radius: 10px;
    background-color: white;
}

thead{
    background-color: aliceblue;
    border-radius: 10px;
}

.header{
    padding: 15px;
}