.mainContainer {
    background-color: #F5F6F8;
    width: 82%;
    margin-left: 18%;
}

a {
    text-decoration: none;
    color: black;
}

.input-group {
    width: 60%;
}

.group2 {
    width: 35%;
}

.dataTable{
    width: 80%;
    padding: 0;
    margin-left: 20%;
}