.mainContainer {
    background-color: #F5F6F8;
    width: 82%;
    margin-left: 18%;
}

a {
    text-decoration: none;
    color: black;
}

.breadcrumb {
    margin-left: 1.5rem;
}

.breadcrumb a,
.breadcrumb li {
    color: gray;
}

.input-group {
    width: 60%;
}

.group2 {
    width: 35%;
}

.tableContent {
    background-color: #F5F6F8;
}

.table {
    width: 78%;
    margin-left: 20%;
    background-color: white;
}

.table .cell-padding {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.table .cell-padding-right {
    padding-right: 1rem;
}

.table .cell-padding-left {
    padding-left: 1rem;
}

.table .cell-padding-left-2 {
    padding-left: 2rem;
}

thead {
    background-color: #d1d0d057;
    border-radius: 10px;
    color: gray;
    text-align: left;
    font-size: 14px;
}

.header {
    padding: 15px;
}

body{
    background-color: #e9eaed;
}

.alert{
    margin-bottom: 0;
}

/* .table>:not(caption)>*>*{
    padding-right: 3rem;
} */