nav{
    background-color: white;
    height: 80px;
    width: 82%;
    margin-left: 18%;
    overflow: hidden;
}

nav .btn{
    padding: 0;
    margin-right: 1rem;
}

.profile{
    margin-left: 6rem;
}