* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	font-family: arial;
}

.wrapper {
	position: relative;
}

.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 260px;
	height: 100%;
	background-color: white;
	padding: 20px 0;
	padding-right: 10px;
}

ul {
	padding-bottom: 20px;
}

.Item {
	padding: 15px;
	border-radius: 10px;
}

.Item:hover{
	background-color:#233B82;
	color: white;
}

.Item a{
	text-decoration: none;
	color: black;
}

.Item a:hover{
	color: white;
}

.collapse{
	padding: 15px 0px;
}

.collapse li{
	list-style-type: circle;
}

#card{
	background-color: #233B82;
	color: white;
}
