.mainContainer {
    background-color: #F5F6F8;
    width: 82%;
    margin-left: 18%;
}

a {
    text-decoration: none;
    color: black;
}

.breadcrumb {
    margin-left: 1.5rem;
}

.breadcrumb a,
.breadcrumb li {
    color: gray;
}

form {
    color: #555;
    display: flex;
    /* padding: 2px; */
    border-radius: 5px;
    background-color: white;
}

input[type="search"] {
    border: none;
    background: white;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
}

input[type="search"]::placeholder {
    color: #bbb;
}

button[type="submit"] {
    overflow: hidden;
    width: 38px;
    padding: 0;
    margin: 0px 5px;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'  height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    opacity: 0.7;
}

button[type="date"] {
    text-indent: -999px;
    overflow: hidden;
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 6px 0px 5px 15px;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("../../public/images/note-text.svg") no-repeat center;
    opacity: 0.7;
}

button[type="submit"]:hover{
    cursor: auto;
}

button[type="date"]:hover{
    cursor: auto;
}

input[type="search"]:focus {
    border-color: none;
    outline: none;
}

.input1 {
    width: 150%;
}

.form1 {
    width: 275px;
    margin-right: 10px;
}

.input2 {
    width: 70%;
}

.form2 {
    width: 185px;
}

.tableContent {
    width: 78%;
    background-color: white;
    border-radius: 10px;
    padding-left: 0%;
    padding-top: 8px;
    margin-left: 20%;
    padding-bottom: 1rem;
}

.table {
    width: 98% !important;
    margin-left: 1%;
    background-color: white;
}

.round1 {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.round8 {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.table .cell-padding {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.table .cell-padding-right {
    padding-right: 1rem;
}

.table .cell-padding-left {
    padding-left: 1rem;
}

.table .cell-padding-left-2 {
    padding-left: 2rem;
}

.table .cell-padding-left-3 {
    padding-left: 3rem;
}

.table .cell-padding-th {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.table .cell-padding-top {
    padding-top: 0.8rem;
}

thead {
    background-color: #f5f6fa;
    border-radius: 20px;
    color: gray;
    overflow: hidden;
    border-color: white;
    text-align: left;
    font-size: 14px;
}

.header {
    padding: 15px;
}

body{
    background: #F5F6F8;
}

.reason {
    color: #233B82;
    text-align: center;
    padding: 5px 0px;
    border-radius: 5px;
    background-color: #e7ebf7;
    margin-bottom: 0;
}

.status {
    color: #008000;
    text-align: center;
    background-color: #e8f1e4;
    margin-bottom: 0;
    padding: 5px 0px;
    border-radius: 5px;
}

.key {
    width: 36px;
    height: 36px;
    background-color: #F5F5F5;
    text-align: center;
    border-radius: 50%;
    padding-top: 7px;
}

.key1 {
    color: #233B82;
    width: 20px;
    height: 20px;
}

.pagination {
    margin-left: 75%;
    margin-top: 2rem;
}

.page-link:focus {
    box-shadow: none;
}

.active>.page-link {
    background-color: #233B82 !important;
    border-color: #233B82 !important;
    box-shadow: none;
    color: white !important;
}

.page-link {
    border-radius: 10px;
    border-color: #F5F5F5 !important;
    width: 36px;
    height: 36px;
    margin: 0px 5px;
    background-color: #F5F5F5 !important;
    color: #233B82 !important;
}