body {
    background-color: #F5F6F8;
}

.container {
    margin-left: 19%;
    height: 89vh;
}

.container1 {
    width: 66%;
    height: 82vh;
}

.storyDiv{
width: 100%;
height: 85px;
}

.month{
    font-size: 14px;
    color: #777D8B;
}

.chartDiv{
    width: 100%;
    height: 297px;
    border-radius: 10px;
    background-color: white;
    padding: 16px;
}

.chartTitle{
    font-weight: 600;
    font-size: 15px;
    color: #777D8B;
}

.container2 {
    margin-left: 1.5%;
    width: 25.6%;
}

.sideBanner {
    position: relative;
    background-color: white;
    border-radius: 10px;
    padding-bottom: 24px;
}

.gold {
    position: relative;
    height: 118px;
    background: linear-gradient(90deg, rgba(255, 230, 4, 1) 0%, rgba(204, 156, 32, 1) 100%);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 0% 5% 0% 0%;
}

.innerDiv {
    position: absolute;
    top: 0px;
    right: 10px;
    /* width: 115px; */
    height: 22px;
    font-size: 12px;
    border-radius: 3px;
    margin-top: 5%;
    padding: 4px;
    color: white;
    background: linear-gradient(277.55deg, #B88C1C 0%, #FFE600 109.39%);
    ;
}

.ellipse2 {
    position: absolute;
    top: 0%;
    left: 0px;
}

.circle {
    position: relative;
    left: 30%;
    top: 50%;
}

.cfLogo {
    position: absolute;
    top: 74%;
    left: 44%;
}

.sideBanner p {
    margin-top: 19%;
    font-size: 20px;
}

.fb {
    margin-left: 22px;
}

.fb,
.wp,
.insta,
.map,
.web {
    margin-right: 12px;
}
.fb:hover,
.wp:hover,
.insta:hover,
.map:hover,
.web:hover{
    cursor: pointer;
}

.info {
    margin-left: 22px;
}

.header {
    margin-top: 32px;
    font-size: 15px;
    color: #777D8B;
    margin-bottom: 16px;
    padding: 0;
}

.text {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #191C1F;
    margin-bottom: 32px;
    margin-top: 0px;
}

.contactInfo {
    color: #777D8B;
    font-size: 15px;
}

.contactFlex {
    margin-top: 16px;
}

.phone {
    margin-right: 10px;
}



/* 
.image_outer_container {
    width: 88px;
    height: 100px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 50%;
    position: relative;
}

.image_inner_container {
    border-radius: 50%;
    padding: 2px;
    background: #833ab4;
    background: -webkit-linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4);
    background: linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4);
}

.image_inner_container img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 5px solid white;
} */