nav{
    background-color: white;
    height: 80px;
    width: 83%;
    margin-left: 17.2%;
    overflow: hidden;
}

nav .btn{
    padding: 0;
}

.btn1,.btn2{
    margin-right: 1rem;
}

.btnIcon{
    margin-right: 14px;
}

nav .btn{
    border: none;
}
.profile{
    margin-left: 6rem;
}

.heading5{
    margin-left: 2.5rem;
}
