#story {
    width: 72px;
    height: 72px;
    /* border: 3px solid purple; */
    /* border-color:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(218,104,255,1) 35%, rgba(0,212,255,1) 100%); */
    border-radius: 50%;
}

.slideshow {
    position: absolute;
    z-index: 2;
    top: 11%;
    left: 37%;
}

/* .story_wrapper {
    background: white;
    border-radius: 50%;
    position: relative;
}

.img {
    width: 100%;
    height: 100%;
    border: 4px solid;
    border-color: purple;
    border-radius: 50%;
} */