* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	font-family: arial;
}

body {
	background: rgb(248, 243, 243);

}

.wrapper {
	position: relative;
}

.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 260px;
	height: 100%;
	background-color: white;
	padding: 20px 0;
	padding-right: 10px;
}

ul {
	padding-bottom: 20px;
}

.sidebar ul li {
	padding: 15px;
	border-radius: 10px;
}

.sidebar ul li:hover{
	background-color:#233B82;
	color: white;
}
.sidebar ul li a:hover {
	text-decoration: none;
}

a{
	text-decoration: none;
	color: black;
}

a:hover{
	color: white;
}
#card{
	background-color: #233B82;
	color: white;
}


